@import '../../../../styles/_colors.scss';

.installation {
    padding: 40px 20px;
    .underlined {
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: 1px solid $border-color-lightgrey;
    }
    code {
        color: $code-snippet-color;
        display: block;
        line-height: 1.5em;
        margin: 22px 0;
        padding: 10px;
        border-radius: 3px;
        font-size: 0.85em;
        background-color: $code-snippet-background-color;

        &.inline {
            display: inline;
            background-color: inherit;
            font-size: 90%;
        }
    }
}