<mat-toolbar class="operator-name">
  {{ operatorName }}
</mat-toolbar>
<mat-toolbar class="signature">
  <span class="operator">{{ operatorName }}</span>(
    <span *ngFor="let parameter of operatorParameters; let f=first">
      <span *ngIf="!f">, </span>
      <span class="argument" [matTooltip]="parameter | argument" [matTooltipClass]="'parameter-description'">{{parameter.name}}</span>:
      <span class="type">{{parameter.type}}</span>
    </span>
  )
  <span *ngIf="returnValue">:&nbsp;</span>
  <span class="type" *ngIf="returnValue"> {{returnValue}}</span>
</mat-toolbar>
