@import '../../operator-theme';

.operator-name {
  font-size:30px;
}

.signature {
  text-overflow: ellipsis;
}

mat-toolbar {
  background: $operator-active !important;
  color: rgb(255, 255, 255);
  font-weight: normal;
}
