<mat-toolbar color="accent" class="mat-elevation-z6">
  <button mat-icon-button (click)="navOpen()" aria-label="menu">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <span class="title" fxFlex> RxJS Docs </span>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="lang-switcher">
    <mat-icon>more_vert</mat-icon> {{ currentLang.nativeName }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let language of languagesList" (click)="onLangSwitch(language)">
      <span>{{language.nativeName}}</span>
    </button>
  </mat-menu>
  <a aria-label="GitHub Repository" class="mat-button" href="https://github.com/ReactiveX" aria-disabled="false">
    <span class="mat-button-wrapper">
      <img src="../../../assets/img/GitHub-Mark-Light-64px.png"> GitHub
    </span>
  </a>
</mat-toolbar>
