.main-operator-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  margin-bottom: 32px;
}

.short-description {
  margin: 16px 0 32px;
}

.margin-bottom-32 {
  margin-bottom: 32px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.operator-info-warning {
  display: flex;
  align-items: center;
  margin: 1rem;
  padding: .75rem 1.25rem;
  border: 1px solid #ffeeba;
  border-radius: .25rem;
  color: #856404;
  background-color: #fff3cd;
  span {
    padding-left: 5px;
  }
}
