<app-operator-header [operatorName]="operator?.name"
                     [operatorSignature]="signature"
                     [id]="operator?.name"
                     class="operator-header">
</app-operator-header>
<nav mat-tab-nav-bar
     *ngIf="vendorExamples.length"
     class="operator-section-tabs">
  <a mat-tab-link
     (click)="isVendor = false"
     [routerLink]="['/operators', operator.name]"
     [active]="!isVendor">
    General
  </a>
  <a mat-tab-link
     *ngFor="let vendor of vendorExamples"
     (click)="isVendor = true"
     [routerLink]="vendor"
     routerLinkActive
     #rla="routerLinkActive"
     [active]="rla.isActive">
    {{vendor}}
  </a>
</nav>
<router-outlet></router-outlet>
