$break-small: 760px;

.container {
  padding: 10px 0;
  height: 100%;

  .banner {
    margin-top: 20px;     
    width: 100%;
    height: 80%;
    text-align: center;

    .title {
      font-size: 4rem;
    }

    .rxjs {
      margin-bottom: 50px;
    }    
  }

  .tiles {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    .tile {
      max-width: 30%;
      margin-right: 50px;
      
      .link {
        text-decoration: unset;
      }

      p {
        text-align: justify;
        line-height: 1.5;
      }
    }

    @media screen and (max-width: $break-small) {
      flex-direction: column;
      align-items: center;

      .tile {
        max-width: 80%;
      }
    }
  }
}
