<mat-sidenav-container class="operator-container">
  <mat-sidenav [mode]="sidenavMode"
               [opened]="!smallScreen"
               [fixedTopGap]="operatorMenuGap"
               [fixedInViewport]="true"
               class="operator-list-sidenav"
               #operatorSidenav>
    <form>
      <mat-form-field class="full-width-form">
        <mat-label>Search</mat-label>
        <input matInput value="" [formControl]="searchInput">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <mat-nav-list *ngFor="let category of categories"
                  class="operator-list">
      <h3 mat-subheader class="category-subheader" *ngIf="(groupedOperators[category] | filter: searchInput.value).length > 0">{{ category }}</h3>
      <a mat-list-item
         *ngFor="let operator of groupedOperators[category] | filter: searchInput.value"
         [routerLink]="['/operators', operator.name]"
         routerLinkActive="active">
        {{ operator.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
<button *ngIf="smallScreen"
        mat-mini-fab
        color="primary"
        class="sidenav-toggle"
        [@growInOut]="'in'"
        (click)="operatorSidenav.toggle()">
  <mat-icon>view_list</mat-icon>
</button>
