<mat-sidenav-container class="operator-container">
  <mat-sidenav [mode]="sidenavMode$ | async"
               [opened]="!(smallScreen$ | async)"
               [fixedTopGap]="operatorMenuGap$ | async"
               fixedInViewport
               class="operator-list-sidenav"
               #operatorSidenav>
    <mat-nav-list *ngFor="let category of categories"
                  class="operator-list">
      <h3 mat-subheader
          class="category-subheader">{{ category }}</h3>
      <a mat-list-item
         (click)="smallScreen && operatorSidenav.close()"
         *ngFor="let operator of groupedOperators[category]"
         [routerLink]="['/operators', operator.name]"
         routerLinkActive="active">
        {{ operator.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
 <mat-sidenav-content>
  <router-outlet></router-outlet>
 </mat-sidenav-content>
</mat-sidenav-container>
<button *ngIf="smallScreen$ | async"
        mat-fab
        color="primary"
        class="sidenav-toggle"
        [@growInOut]="'in'"
        (click)="operatorSidenav.toggle()">
  <mat-icon>view_list</mat-icon>
</button>
