<h2> {{'OPERATOR.PARAMETER.TITLE' | translate}} </h2>
<table class="parameter-table mat-elevation-z2">
  <thead>
    <tr>
      <th>{{'OPERATOR.PARAMETER.NAME' | translate}}</th>
      <th>{{'OPERATOR.PARAMETER.TYPE' | translate}}</th>
      <th>{{'OPERATOR.PARAMETER.ATTRIBUTE' | translate}}</th>
      <th>{{'OPERATOR.PARAMETER.DESCRIPTION' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parameter of operatorParameters">
      <td> {{parameter.name}} </td>
      <td> {{parameter.type}} </td>
      <td> {{parameter.attribute}} </td>
      <td [innerHTML]="parameter.description"></td>
    </tr>
  </tbody>
</table>
