<h2> {{ 'OPERATOR.PARAMETERS.TITLE' | translate }} </h2>
<table class="parameter-table mat-elevation-z2">
  <thead>
    <tr>
      <th>{{'OPERATOR.PARAMETERS.NAME' | translate}}</th>
      <th>{{'OPERATOR.PARAMETERS.TYPE' | translate}}</th>
      <th>{{'OPERATOR.PARAMETERS.ATTRIBUTE' | translate}}</th>
      <th>{{'OPERATOR.PARAMETERS.DESCRIPTION' | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let parameter of operatorParameters">
      <td> {{parameter.name}} </td>
      <td> {{parameter.type}} </td>
      <td> {{parameter.attribute}} </td>
      <td> {{parameter.description[currentLang]}} </td>
    </tr>
  </tbody>
</table>
